# generated local files
*.log

# editor files
*~
*.bak

# generated python files
*.pyc
__pycache__

# ignore for the merge to master and orphaning of the gh-pages branch
doc/build

# ignore changes in the individual component modules, which should be tracked separately in their own repos
components
